

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

.title {
  text-align: center;
  margin-bottom: 20px;
}

.form {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.url-input {
  flex-grow: 1;
  padding: 10px;
  margin-right: 10px;
}

.submit-button {
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;
  
}

.submit-button:hover {
  background-color: #0056b3;
}

.result-container {
  margin-bottom: 10px;
}

.result-title {
  font-size: 18px;
  margin-bottom: 5px;
}

.result-link {
  display: block;
  color: #007bff;
  font-weight: bold;
  text-decoration: none;
  word-break: break-all;
}

.result-text {
  word-break: break-all;
}

.error-container {
  margin-top: 10px;
}

.error-text {
  color: red;
}
